.error {
  color: red;
  text-align: center;
}

.container,
.question, 
.button-container, 
.quiz-end, 
.question,
.button,
.answers-container {
  display: flex;
  flex-direction: column;
}

.container {
  background: white;
  height: 600px;
  width: 80%;
  position: relative;
  border: 2px solid white;
  margin: 0 auto;
  top: 150px;
  box-shadow: 10px 5px 5px 10px grey;
}

.question, .button-container {
  height: 20%;
  width: 95%;
  padding: 0px;
  margin: 10px auto;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

.question {
  box-shadow: inset 0 0 10px #000000;
  padding: 10px;
  font-size: 22px;
  flex-wrap: wrap;
}

.answers-container {
  background: #FFFFFF;
  height: 50%;
  width: 95%;
  padding: 0px;
  margin: 10px auto;
  justify-content: flex-start;
}

.button {
  height: 15%;
  width: 95%;
  font-size: 16px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  background: #FFFFFF;
  justify-content: flex-start;
}

.button:hover {
  background: #ecf7f9;
  color: black;
}

.quiz-end {
  align-items: center;
  height: 25%;
  width: 70%;
  margin: 0 auto;
  border: 1px solid rgb(40, 110, 16);
  padding: 10px;
  background-color: aliceblue;
  top: 200px;
  position: relative;
}

.reset-button {
  height: 50px;
  width: 100px;
  border: 1px solid rgb(40, 110, 16);
}
